.image-container {
    position: relative;
}

.text-on-image {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

