
/* Colour palette */
/* 
color1 #d28800
color2 #222222 
color3 #ffe5a4
logo-color #c68d00
*/

/* Fonts
font1 arial */

/* Defaults */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
font-size: 70px;
}

.logo {
    width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: #222222;
    color: white;
    padding: 1em;
}


header span {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.navbar {
    flex-direction: column;
    align-items: center;
}

nav {
    margin-top: 10px;  
}

.search-box input {
    border: none;
    padding: 8px;
    flex-grow: 100; 
    
}


.icon {
    margin-left: 0;
    background-color: #222222;
    color: #d28800;
    border: 1px solid #d28800;
}

nav ul {
    list-style: none;
    padding: 0;
    align-items: center;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #c68d00;
}

nav a:hover {
    color: #222222;
    background-color: #c68d00;
    padding: 1.5em;
}

nav a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d28800;
    z-index: -1;
}


#mainbanner {
    position: relative;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .image-overlay {
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .content-container {
    position: absolute;
    top: 50%;
    left: 35%; 
    transform: translate(-50%, -50%);
    text-align: left; /* Align text to the left */
    color: #fff;
    z-index: 1;
  }

  .content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2;
  }
  
  .yellow-bar {
    position: absolute;
    bottom: 10px;
    left: 10%; 
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .button {
    display: inline-block;
    text-decoration: none;
    padding: 1.5em;
    background-color: #d28800;
    color: black;
  }
  
  .button:hover {
    background-color: #ff9800; 


/* ABOUT US */

.aboutus-grid {
    background-color: #ffe5a4;
    padding: 40px 0;  
}

.intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.intro img {
    width: 50%; 
    max-width: 400px; 
    height: auto;
}

.intro {
    text-align: left;
}

.intro h2 {
    font-size: 40px; 
    margin-bottom: 20px; 
}

.intro p {
    margin-bottom: 25px; 
}

/* SERVICES */

#ourservices {
    background-color: white;
}

.services-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.services-grid article {
    background-color: #ffe5a4;
    padding: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

article h3 {
    margin: 0;
}

article p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 24px;
}

.btn {
    text-decoration: none;
    padding: 1.5em;
    background-color: black;
    color: white;
    font-weight: 700;

}
.button {
    text-decoration: none;
    padding: 1.5em;
    background-color: #d28800;
    color: #222222;
    font-weight: 700;

}

@media only screen and (min-width: 760px) {
    
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
    
    header {
        background-color: #222222;
        padding: 50px 0;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 20px;
    }
    
    .logo img {
        height: 100px; 
    }
    
    nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        font-size: 20px;
        justify-content: space-around;
    }

    
    nav li {
        margin-right: 90px;
    }
    
    nav a {
        position: relative;
        text-decoration: none;
        color: #d28800;
    }
    
    nav a:hover {
        color: #222222;
        background-color: #d28800;
        padding: 1.5em;
    }
    
    nav a:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d28800;
        z-index: -1;
    }
    
    main h1 {
        font-size: 2.5rem;
    }
    
    header div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header div span {
        width: 60%;
        text-align: left;
    }
    header div nav {
        flex-grow: 1;
    }

    .intro-grid {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: end;
        padding-bottom: 0;
    }

    .services-grid {
        flex-direction: row;
        padding-bottom: 7em;
}
    .services-grid article {
        flex-basis: 30%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
    }
